/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.flex-column-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.flex-row-space-evenly {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.flex-rowreverse-space-evenly {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
.container-home {
  color: white;
  background: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.container-home header {
  text-align: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.container-home header h1 {
  width: 100%;
  padding-bottom: 20px;
}
.container-home header nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.container-home header nav a {
  color: white;
  text-decoration: none;
  padding: 12px;
}
.container-home header nav a:hover {
  color: yellow;
  border: 2px dashed yellow;
  border-radius: 17%;
}
.container-home .content-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.container-home .content-section .fun-bus {
  padding-bottom: 40px;
  width: 100%;
  margin: 0 auto;
}
.container-home .content-section .fun-bus .fun-bus-img {
  width: 100%;
}
.container-home .content-section .welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 40 px;
  border-bottom: 2px dashed #C0C0C0;
}
.container-home .content-section .welcome h2 {
  text-align: center;
  width: 100%;
}
.container-home .content-section .welcome p {
  padding: 7px;
}
@media (max-width: 500px) {
  .container-home .content-section .welcome h2 {
    font-size: 30px;
  }
  .container-home .content-section .welcome p {
    font-size: 17px;
  }
}
.container-home .content-section .lets-go-container {
  width: 100%;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
}
@media (min-width: 900px) {
  .container-home .content-section .lets-go-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
}
@media (min-width: 900px) {
  .container-home .content-section .lets-go-container .child-1 {
    width: 40%;
    padding: 20px;
  }
  .container-home .content-section .lets-go-container .child-1 h2 {
    font-size: 40px;
  }
  .container-home .content-section .lets-go-container .child-1 p {
    font-size: 19px;
  }
}
@media (max-width: 500px) {
  .container-home .content-section .lets-go-container .child-1 {
    text-align: left;
  }
  .container-home .content-section .lets-go-container .child-1 h2 {
    font-size: 40px;
  }
  .container-home .content-section .lets-go-container .child-1 p {
    font-size: 17px;
  }
}
@media (min-width: 900px) {
  .container-home .content-section .lets-go-container .lets-go-img-container {
    width: 55%;
    padding-top: 74px;
  }
}
@media (max-width: 500px) {
  .container-home .content-section .lets-go-container .lets-go-img-container {
    padding-top: 30px;
  }
}
.container-home .content-section .lets-go-container .lets-go-img-container .lets-go-img {
  border-radius: 4%;
}
@media (max-width: 700px) {
  .container-home .content-section .lets-go-container .lets-go-img-container .lets-go-img {
    width: 100%;
  }
}
.container-home .content-section2 {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
  border-bottom: 2px dashed #C0C0C0;
}
@media (min-width: 900px) {
  .container-home .content-section2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
  }
}
@media (max-width: 500px) {
  .container-home .content-section2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.container-home .content-section2 .adventure-content {
  width: 40%;
  padding: 20px;
}
@media (min-width: 900px) {
  .container-home .content-section2 .adventure-content {
    width: 40%;
    padding: 20px;
  }
  .container-home .content-section2 .adventure-content h2 {
    font-size: 40px;
  }
  .container-home .content-section2 .adventure-content p {
    font-size: 19px;
  }
}
@media (max-width: 700px) {
  .container-home .content-section2 .adventure-content {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .container-home .content-section2 .adventure-content {
    width: 100%;
  }
  .container-home .content-section2 .adventure-content h2 {
    font-size: 40px;
  }
  .container-home .content-section2 .adventure-content p {
    font-size: 17px;
  }
}
@media (min-width: 900px) {
  .container-home .content-section2 .adventure-img-container {
    width: 55%;
    padding-top: 74px;
  }
}
.container-home .content-section2 .adventure-img-container .adventure-img {
  border-radius: 10%;
}
@media (max-width: 700px) {
  .container-home .content-section2 .adventure-img-container .adventure-img {
    width: 100%;
  }
}
.container-home .destination-container {
  width: 90%;
  margin: 0 auto;
  padding: 50px;
  border-bottom: 2px dashed #C0C0C0;
}
@media (min-width: 900px) {
  .container-home .destination-container {
    text-align: left;
  }
}
@media (max-width: 500px) {
  .container-home .destination-container {
    text-align: center;
  }
  .container-home .destination-container h2 {
    font-size: 40px;
  }
  .container-home .destination-container p {
    font-size: 17px;
  }
}
.container-home .destination-container .destination-img {
  border-radius: 5%;
  width: 100%;
}
.container-home .sign-me-up-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 900px) {
  .container-home .sign-me-up-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .container-home .sign-me-up-container .destination-content {
    text-align: center;
    padding: 25px;
  }
  .container-home .sign-me-up-container .destination-content h4 {
    font-size: 30px;
  }
  .container-home .sign-me-up-container .destination-content p {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container-home .sign-me-up-container .destination-content .btn-container {
    width: 70%;
    margin: 0 auto;
  }
  .container-home .sign-me-up-container .destination-content .btn-container .sign-me-up-btn {
    width: 100%;
  }
  .container-home .sign-me-up-container .destination-content .btn-container .sign-me-up-btn a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    background: brown;
  }
  .container-home .sign-me-up-container .destination-content .btn-container .sign-me-up-btn a:hover {
    cursor: pointer;
    background: yellow;
    color: black;
    border: 1px solid black;
  }
}
@media (max-width: 500px) {
  .container-home .sign-me-up-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .container-home .sign-me-up-container .destination-content {
    padding: 20px;
  }
  .container-home .sign-me-up-container .destination-content h4 {
    font-size: 30px;
  }
  .container-home .sign-me-up-container .destination-content p {
    font-size: 14px;
  }
  .container-home .sign-me-up-container .destination-content .btn-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container-home .sign-me-up-container .destination-content .btn-container .sign-me-up-btn {
    width: 100%;
  }
  .container-home .sign-me-up-container .destination-content .btn-container .sign-me-up-btn a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    background: brown;
  }
  .container-home .sign-me-up-container .destination-content .btn-container .sign-me-up-btn a:hover {
    cursor: pointer;
    background: yellow;
    color: black;
    border: 1px solid black;
  }
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
