// Mixins in here

//mobile mixins
.flex-column-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-row-space-evenly {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.flex-rowreverse-space-evenly {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}
